.main-content {
    font-family: var(--poppins);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 68px;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    width: 300px;
}

.main-text > h1 {
    font-size: 28px;
    font-weight: 600;
    color: var(--white);
    text-align: center;
    margin-bottom: 40px;
}

.main-text > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--white);
    text-align: center;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.try-free {
    background-color: var(--blue);
    box-shadow: rgba(0, 0, 0, .3) 0 10px 5px;
    width: 328px;
    height: 88px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    font-size: 12px;
}

.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 325px;
    height: 445px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, .3) 0 10px 5px;
    border-radius: 5px;
    padding: 25px 0;
}

.main-form > label input {
    font-family: var(--poppins);
    width: 280px;
    height: 55px;
    border-radius: 5px;
    margin-bottom: 17px;
    border: 1px solid var(--grey);
    padding-left: 20px;
    outline: none;
}

.claim-button {
    width: 280px;
    height: 55px;
    border-radius: 5px;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--poppins);
    font-weight: 600;
    color: var(--white);
}

.main-form p:nth-child(6) {
    font-size: 12px;
    font-weight: 600;
    color: var(--dark-grey);
    text-align: center;
    width: 260px;
    margin-top: 18px;
}

.main-form p:nth-child(6) strong {
    color: var(--red);
}

@media screen and (min-width:768px) {
    .main-content {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-text > p {
        text-align: justify;
    }

    .main-text > p br {
        display: none;
    }

}

@media screen and (min-width: 1280px) {
    .main-content {
        padding: 120px 170px;
    }

    .main-text {
        width: 500px;
        align-items: flex-start;
    }

    .main-text > p {
        text-align: left;
    }
}



